<div class="container">
<h2> Procedure: Protocol {{protocols.name}}, Step #{{counter+1}} </h2>

<div class="col-xs-6 text-center pagination-centered">
	<!-- <h1>Incubate for {{protocols.steps[counter].time}} minutes</h1> -->
	 
	<h1>Incubate at {{protocols.steps[counter].temp}} Celsius degrees for <input id = "incubatortime" type = "text" placeholder = "{{protocols.steps[counter].time}}" ng-model = "time"> minutes</h1>
</div>

<div class = "clock col-xs-6 text-center pagination-centered" ng-click = "clock(time)" > 
	<h2>START TIMER</h2>
</div>
</div>
