<div class="container">
<h2> Procedure: Protocol {{protocols.name}}, Step #{{counter+1}} </h2>

<div class="col-xs-6 text-center pagination-centered">
	<!-- <h1>Incubate for {{protocols.steps[counter].time}} minutes</h1> -->

	<h1>Incubate at <input id = "incubatortime" type = "text" value = "{{protocols.steps[counter].temp}}"> Celsius degrees for <input id = "incubatortime" type = "text" value = "{{protocols.steps[counter].time}}" ng-model = "time"> minutes</h1>
</div>

<button  class="btn btn-success" ng-click = "clock(time)" > START TIMER</button>
<div class = "clock"></div>
</div>