<div class="container">
	<div id="stepBoxMech" class = "col-xs-8 stepBox"> 
		<div id="mechInstructions">
		<h1 id="mechTitle" class="protocolName">{{protocols.inputs[counter].name}}<h1>
		</div>
    	<div id="mechImageDiv" ng-class= "slide" >
	 	  <img class="mechImg" src="{{imglink}}"><br>
	 	  <p></p>
	  	  <button class = "btn-large runButton" ng-click = "imgBack()" class="btn btn-small">Before</button>
	  	  <button class = "btn-large startButton" ng-click= "imgMove()" class="btn btn-small">After</button>
  	   </div>		
  </div>
</div>