<h1> Pipet </h1>
<h2> Procedure: Protocol {{protocols.name}} </h2>
<h2> Step #{{counter+1}} </h2>

<div class="box">{{protocols.steps[counter].name}}</div>

<input ng-model="model.pipetVolume" id = "incubatortime" type = "number" > 

<!-- We need to ve able to save the model to the controller automatically in some way 
without having to submit -->
<p> lkol? </p>

{{solutions}}
{{newVol}}A
{{pipetVolume}}A

{{selectedSolutions.name}}
{{solutions}}
<p> lkol? </p>
<select ng-model="model.selectedSolutions" ng-options="solution.name + ' ' + (solution.lot || solution.user_id) for solution in solutions"></select>

