/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

 .clarify:hover{
 	background-color: rgba(240, 240, 240);
 }

 .clarify{
 	background-color: rgba(255, 255, 255, 0.4);
 }

 .center{
 	margin-right: auto;
 	margin-left: auto;
 	margin-top: 15px;
 }

 #statHolder{
 	width: 60%;
 	margin-right: auto;
 	margin-left: auto;
 }

#funfont {
	font-family: 'Slackey';
	color: #FFFFFF;
	margin: 1em;
	font-size: 5em;
}

 .paperBack{
 	background-image: url('/stationery.png');
 	background-size: cover;
 	background-position: center;
	
 	width: 900px;
 	margin-right: auto;
 	margin-left: auto;
 }

 .step{
 	position: relative;
 	border-radius: 5px;
 	opacity: 1;
 	font-family: 'Life Savers';
 	background-color: ;
 }

 .step:hover{
 	opacity: 1;
 }


 .stepData{
 	border-top-style: solid;
 	border-top-color: black;
 }


 body { 
  background: url(/background10.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: pointer;
}

ul li {
	position: fixed;
	top: 0%;
	margin-top: 2em;
	margin-bottom: em;
}

#logoText{
	color: white;
	font-family: 'Life Savers';
	font-size: 2.5vmin;
	font-style: bold;
	position: fixed; 
	top: 4.7%;
	left: 2.6%;
	z-index: 100;
}
#logoBarImage{
	width: 3em;
	height: 3em;
	position: fixed; 
	top: 2%;
	left: 2%;
}

#protocolEntry{
	color: #FFFFFF;  
	opacity: 0.9;
    border-right: 3px solid #ffffff;

}

#protocolEntry:hover {
	opacity: 1;
}

.protocolImage{
	margin: auto;
	margin-top: 5.5em;
	height: 14em;
	width: 14em;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: solid yellow 2px;
	/*display: table-cell;
	vertical-align: middle;*/
	/*border: 0.7em solid yellow;*/
}

/*Run css*/
.inputBox{
	margin-right: 1em;
	margin-left: 1em;
}
.stepBox{
	padding-top: 10%;
	padding-bottom: 10%;
	width: 100%; 
	height: 100%;
	border: 0.3em solid black;
 	border-radius: 20px;
 	/*padding: 15%;*/
 	text-align: center;
 	margin: 0 auto;
 	margin-top: 10px;
 	background-color: #FFFFFF;
 	/*background-opacity: .3;*/
 	background-color:rgba(0,0,0,0.17);
}

/*mechanical*/
.mechImg{
	width: 20em;
	height: 20em;
	border-radius: 20px;
	border: 0.2em solid red;
}
#mechImageDiv{
	float: right;
	
}
#mechTitle{
	color: white;
}
#mechInstructions{
	float: left;
	padding-top: 10%;
}

#stepBoxMech{
	padding: 3%;
	width: 100%; 
	height: 100%;
	border: 0.3em solid black;
 	border-radius: 20px;
 	/*padding: 15%;*/
 	text-align: center;
 	margin: 0 auto;
 	margin-top: 10px;
 	background-color: #FFFFFF;
 	/*background-opacity: .3;*/
 	background-color:rgba(0,0,0,0.17);
}
/*Pipet*/
.addSol{
	font-family: 'Life Savers';
	font-weight:normal;
	font-size: 30px;
	margin-bottom: 35px;
	color: black;
}
/*Prepare*/
#prepareBox{
	padding-top: 4%;
	padding-bottom: 4%;
}
#prepareSol{
	margin: 0px;
}
/*First page*/
.sideBarImg{
	width: 2em;
	height: 2em;
}


.imgDiv{
	height: 25em;
	width: 25em;
	background-image: url(http://www.freestockphotos.biz/pictures/16/16842/Illustration+of+a+sun.png);
	background-size: contain;
	background-position: center;
	display: table;
}

.startButton{
	color: white;
	border: 2px solid black;
	background-color: #FF0D00;
	font-family: 'Life Savers';

}

.startButton:hover{
	border: 2px solid white;
}

.runButton{
	color: white;
	border: 2px solid black;
	background-color: #0088cc;
	font-family: 'Life Savers';

}

.runButton:hover{
	border: 2px solid white;
}
/*Second page*/
.centerDiv{
	display: table;
   width: 100%;
}
.runBeginDiv{
	height: 27em;
	width: 27em;
	background-image: url(http://www.clipartbest.com/cliparts/MTL/5jo/MTL5jo5Ta.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: table-cell;
   text-align: center;
   vertical-align: middle;
	
}
#runName{
	color: #0088cc;

}
span{
	color:#FF0D00;
}


.protocolHeader{
	font-size: 80px;
	margin-bottom: 70px;
	/*text-shadow: 3px 2px 0 #ddd,5px 4px 0 #bbb;*/
	opacity: 0.8;
	font-family: 'Slackey';
	font-weight: 700;
	letter-spacing: 0.05em;
	color: #FF0D00;
}
.protocolHeader:hover{
	opacity: 1;
	font-size: 82px;	
}
.protocolName{

	font-family: 'Life Savers';
	font-weight:normal;
	font-size: 40px;
	margin-bottom: 35px;

}


#headsty{
 	margin:0px;
 }
 .box{
 	border-style: solid;
 	padding: 10px;
 	width: 75%;
 	text-align: center;
 	margin: 0 auto;
 	margin-top: 10px;
 }
 .timer{
 	border-style: solid;
 	margin-top: 20px;
 	display: inline;
 	width: 30%; 
 	float: right;
 }

 .mechanicalimgbox{
 	border-style: solid;
 	border-radius: 20px;
 	width: 50%;
 	padding: 10px;
 	text-align: center;
 	margin: 0 auto;
 	margin-top: 10px;
 	background-color: #FFFFFF;
 	background-opacity: .7;
 }

 .box1:hover{
 	border-style: solid;
 	border-color: #FFFF00;
 }

#overflowScroll {
	overflow: scroll; 
	height: 40em;
}
.tbl {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000; 
	
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}.tbl table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tbl tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.tbl table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.tbl table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.tbl tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.tbl tr:hover td{
	
}
.tbl tr:nth-child(odd){ background-color:#85E085; height: 5em; color: #ffffff;}
.tbl tr:nth-child(even)    { background-color:#C2F0C2; height: 5em;}.tbl td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
	font-size:2em;
	font-family: 'Life Savers';
	font-weight:bold;
	color:#000000;
}.tbl tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tbl tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tbl tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}


.tbl tr:first-child td{
		

	background-color:#29A329;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:2.5em;
	font-family:'Life Savers';
	font-weight:bold;
	color:#ffffff;

}

.tbl tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tbl tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    background: inherit;
    -ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition:  .3s ease-in-out;
}


.slide-left.ng-enter {
    z-index: 101;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
   
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }

.slide-right.ng-leave {
    z-index: 101;
    transition:1s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

}

.animate-switch-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}

/*This is code to customize the Devise views*/
/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}


 #sidebar {
 	position: fixed;
 	left: 0;
 	top: 0;
 	background-color: black;
 	z-index: 1000; 
 	height: 100%;
 	width: 8.2%;
 	font-size: 3vmin;
	padding-top: 10%;
	text-align: right;
	float: left;
	opacity: 0.8;
	font-family: 'Slackey';
	border-radius: 0px 50px 50px 0px;
    -moz-border-radius: 0px 50px 50px 0px;
    -webkit-border-radius: 0px 50px 50px 0px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
 }
 #sidebar:hover{
 	opacity: 0.86;
 	width: 9.5%;
 }
#right-column{
	right: 0px;
	top: 0px;
	float: right;
	width: 90%;
}
 #chevron {
 	opacity: .7;
 }

 #chevron:hover {
 	opacity: 1;
 }
