
<div ng-class="slide">
	<div class = "container">
	<div class="row">
		<div class="col-xs-12 text-center pagination-centered">
			<h1> Begin run {{protocols.counter}} of Protocol {{protocols.name}}?</h1>
		</div>
		<div class="row">
			<div class="col-xs-6 pull-left">
				<a ng-click="visit('/')"><img src="http://alexoliveira.me/Hawaii/images/chevron-left.png" id="chevron"></a>
			</div>

			<div class="col-xs-6 pull-right">
				<a ng-click = "startRun('/newrun/' + protocols.name + '/0')"><img src="http://alexoliveira.me/Hawaii/images/chevron-right.png" id="chevron"></a>
			</div>
		</div>
	</div>
</div>