
<div ng-class="slide">
	<h1 class="protocolHeader"> Fun Activity {{protocol.name}}</h1>
 		<div class="centerDiv">
			<div class = "container runBeginDiv">
				<div class="col-xs-12 text-center pagination-centered">
		 			<h2 class="protocolName" id="runName"> Run <span>{{protocols.counter}}</span> </h2>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center pagination-centered">
						<button class = "btn-large runButton" ng-click = "visit('/')"> Back </button>
					
						<button class = "btn-large startButton" ng-click = "startRun('/newrun/' + protocols.name + '/0')"> Begin </button>
					</div>
				</div>
			</div>
		</div>
</div>