<h1 id="funfont">All Trials of this Experiment </h1>
<div id="overflowScroll">
<div class="tbl">
    <table >
        <tr>
            <td>
                Runs
            </td>
            <td >
                Person
            </td>
            <td>
                % Complete
            </td>
            <td>
                Last Update
            </td>
        </tr>
        <tr class = "box1" ng-show = "protocols[run.protocol_id-1].name === locate.protocol1" ng-click="visit(run.id)" ng-repeat="run in runs">
            <td > {{run.counter}} </td>
            <td> {{users[run.user_id-1].name}} </td>
            <td> {{(run.currentStep/run.inputs.length)*100}}% </td>
            <td> {{run.updated_at | date}}
        </tr>
    </table>
</div>
</div>