<div style="height: 500px" >
	<div ng-swipe-left="nextStep()" ng-switch on="protocols.steps[counter].type">
		<div ng-class= "slide" style = "width: 100%; " ng-switch-when="prepare" >
			<div ng-include= "'steps/prepare.html'">
			</div>
		</div>

		<div ng-class= "slide" style = "width: 100%;" ng-switch-when="pipet"> 
			<div ng-include= "'steps/pipet.html'">
			</div>
		</div>

		<div ng-class= "slide" style = "width: 100%;" ng-switch-when="incubation"> 
			 <div ng-include= "'steps/incubation.html'">
			</div>
		</div>

		<div ng-class= "slide" style = "width: 100%;" ng-switch-when="mechanical"> 	
		<div ng-include= "'steps/mechanical.html'">
			</div>
		</div>
	</div>
</div>
	
	<!-- #delete  -->
	<button ng-click = "lastStep()" class="btn btn-warning btn-large"><span class="glyphicon glyphicon-arrow-left"></span> Last Step </button>
	<button ng-click= "nextStep()" class="btn btn-primary btn-large"> Next Step <span class="glyphicon glyphicon-arrow-right"></span> </button>
	<button   ng-click = "addNew()" class="btn btn-success btn-large"> <span class="glyphicon glyphicon-plus"></span> Add Run  </button>


<!-- Progress bar -- possibly we can add conditional logic w/ counter to keep it updated? steps.length/counter.to_i ? -->
	<div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>

