<!-- <div ng-init = "showAction = false"> -->
<div style="height: 700px" ng-init = "counter = 0">
	<div ng-swipe-left="addCounter()" ng-switch on="protocols.steps[counter].type">

		<div ng-class= "slide" style = "width: 100%; " ng-switch-when="prepare" >
			<div ng-include= "'steps/prepare.html'">
			</div>
		</div>

		<div ng-class= "slide" style = "width: 100%;" ng-switch-when="pipet"> 
			<div ng-include= "'steps/pipet.html'">
			</div>
		</div>

		<div ng-class= "slide" style = "width: 100%;" ng-switch-when="incubation"> 
		<!-- <div ng-show="showAction === false" style = "background-color: blue"ng-swipe-left= "showAction = true"> -->
			<h1> Incubation </h1> 
		</div>

		<div ng-class= "slide" style = "width: 100%;" ng-switch-when="mechanical"> 	
		<div ng-include= "'steps/mechanical.html'">
			</div>
		</div>
	</div>
</div>
	<button ng-click= "nextStep()"> Next Step </button>
	<!-- #delete  -->
	<button ng-click = "lastStep()"> Last Step </button>
	<button   ng-click = "addNew()"> Add Run </button>
