<div class="container paperBack">

	<div class="step row" ng-show="note.note != ''">
	    <div class="col-xs-6 stepData">
	       <h1>{{run.protocolName}}, Run {{run.id}} </h1>
	     </div>
	     <div class="col-xs-6 stepData">
	       <p>Started:  {{run.created_at | date:'medium'}}</p>
	     </div>
	</div>

	<div class="step row" ng-show="note.note != ''">
	    <div class="col-xs-6 stepData">
	       <h3>By: {{run.user}}</h3>
	     </div>
	     <div class="col-xs-6 stepData">
	       <p>Finished: {{run.updated_at | date:'medium'}}</p>
	     </div>
	</div>

	<div class="step row" ng-show="note.note != ''">
	    <div class="col-xs-12 stepData">
	       <p>Notes: {{note.note}}</p>
	     </div>
	</div>

	<div ng-repeat="step in steps">

	   <div class="step row" ng-show="step.type == 'prepare'">
	     <div class="col-xs-4 stepData">
	       <p>Step {{(steps.indexOf(step)+1)}}: {{step.name}}</p>
	     </div>
	     <div class="col-xs-4 stepData">
	     	<p> PLZ WORK </p>
	     </div>
	     <div class="col-xs-4 stepData">
	     	<p> PLZ WORK </p>
	     </div>
	   </div>

	   <div class="step row" ng-show="step.type == 'pipet'">
	   	<div class="col-xs-4 stepData">
	       <p>Step {{(steps.indexOf(step)+1)}}: {{step.name}}</p>
	     </div>
	     <div class="col-xs-4 stepData">
	     	<p> {{step.volume}} </p>
	     </div>
	     <div class="col-xs-4 stepData">
	     	<p> {{step.solution}} {{step.usedSolution}} </p>
	     </div>
	   </div>

	   <div class="step row" ng-show="step.type == 'incubation'">
	   	<div class="col-xs-4 stepData">
	       <p>Step {{(steps.indexOf(step)+1)}}: {{step.name}}</p>
	     </div>
	     <div class="col-xs-4 stepData">
	     	<p> {{step.time}} min </p>
	     </div>
	     <div class="col-xs-4 stepData">
	     	<p> {{step.temp}} degrees C </p>
	     </div>
	   </div>

	</div>
</div>

<button ng-click= "view('/')"> Home </button>

<!-- 


<h1> {{run.protocol}}, Run {{run.id}} </h1>
<h3>{{runInfo.user}}</h3>
<h3>{{run.created_at}}</h3>

<div>
    {{note}}
</div>

<div ng-repeat="step in steps">
    <div class="container">
   <div class="row" ng-show="step.type == 'prepare'">
     <div class="col-xs-4">
       <h3>Step {{(steps.indexOf(step)+1)}}: {{step.name}}</h3>
     </div>
     <div class="col-xs-4">
     <p> PLZ WORK </p>
     </div>
     <div class="col-xs-4">
     <p> PLZ WORK </p>
     </div>
   </div>
   <div ng-show="step.type == 'pipet'">
   <p> PLZ WORK Pipet</p>
   </div>
   <div ng-show="step.type == 'incubate'">
   <p> PLZ WORK INC</p>
   </div>
 </div>


 {{step}}

</div>

<div ng-click= "view('/')"> Home </div><h1> {{run.protocol}}, Run {{run.id}} </h1>
 -->