
<h1 class="protocolHeader">Activities</h1>
<!-- this bootstrap setup might get fucked up when we add more protocols... might need to change the container 
setup to go with ng-repeat -->
<div class="row">
    <div id="protocolEntry" class = "col-md-4 pull-left" ng-repeat="protocol in protocols">
        <div class="container-fluid" >

		          <div class="col-xs-12 text-center pagination-centered" style="margin: 10px">
                <h1 class="protocolName"> Fun Activity {{protocol.name}} </h1>
                <div class="imgDiv"><img class="protocolImage" src= "http://www.computerclipart.com/computer_clipart_images/erupting_volcano_cartoon_0515-1005-1017-5626_SMU.jpg"></div>
                <!-- <img src="http://www.freestockphotos.biz/pictures/16/16842/Illustration+of+a+sun.png"> -->
              </div>

              <div class="col-xs-12 text-center pagination-centered" style="margin: 10px" >
                <button  ng-click= "visit('/' +'newrun' + '/'+ protocol.name, protocol.name)" class="btn-large startButton"> Start the Fun </button><br>
              </div>
              <br>
              
              <div class="col-xs-12 text-center pagination-centered" style="margin: 10px">
                      <button class="btn-large runButton" ng-click="visit('/'+ protocol.name, protocol.name)"> Fun Log </button> 
              </div>
        </div>
    </div>
</div>
